<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">

</head>
<body>
  <div class="container">

  <h1>Click below to confirm your email for Kashiyatra 2017!</h1>
<p>

  <form action="" method="POST">
    <button type="submit" class="btn btn-success " name="button">Confirm</button>
  </form>
</p>
</div>
</body>
</html>
