
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/css/normalize.css">


        <link rel="stylesheet" href="/static/css/style.css">




  </head>

  <body>


    <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <!--<h1>Sign Up for Free</h1>-->

          <form action="/" method="post">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Sex(M/F/other)<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

           <!--<div class="field-wrap">
            <label class="college_name">
              College<span class="req">*</span>
            </label>
            <select name="dropdown" id="drp_selecter">
            <option class="college_selecter" value="" Selected> Other</option>
            </select>

          </div>-->
         <!-- <div class="field-wrap">
            <label>
           <!-- College<span class="req">*</span>

            </label>
            <select name="dropdown" id="drp_selecter">
            <option class="college_selecter" value="" Selected>Select College<span class="req">*</span></option>
            </select>

          </div>-->
          <div class="field-wrap">
            <label>
              College<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Mobile Number<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>


          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <button type="submit" class="button button-block"/>Get Started</button>

          </form>

        </div>

        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/" method="post">

            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block"/>Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->

</div>
<div class="footer">
    <p id="copyright@form">© Kashiyatra, IIT (BHU), Varanasi</p>
  </div>
<!-- /form -->
    <script src='/static/js/jquery.min.js'></script>

        <script src="/static/js/index.js"></script>
       
  </body>
</html>
